
body.light {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.dark {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image:url(assets/img/11114561-38dc-48dc-b5ea-d8462012b7f6.png);
  color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

