
body.light {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(assets/img/fondohomeclaro.png);
  color: #222;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: cover;
}

body.dark {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(assets/img/fondohomeoscuro.png) ;
  color: #222;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: cover;
}

body.dark.home-background,
body.light.home-background {
  background-image: url(assets/img/modoclaro.png); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.dark.home-background {
  background-image: url(assets/img/modooscuro.png);
}

